.flex-item-login {
  width: 100%;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

[_nghost-sum-c78] {
  display: block;
  margin-bottom: 1rem;
}
.custom-icam-button[_ngcontent-sum-c78] {
  background: url("<?php echo $USWDS_ASSETS ?>/img/arrow-right.svg") no-repeat
    transparent;
  background-position: right 1rem center;
  background-size: 0.75rem;
  border: 1px solid #cedced;
  border-radius: 0.5rem;
  display: flex;
  padding: 0.65rem 2.5rem 0.65rem 0.65rem;
  transition: 0.25s;
}
.custom-icam-button[_ngcontent-sum-c78]:hover {
  border-color: #a5b8cf;
  cursor: pointer;
}
.custom-icam-button--icon[_ngcontent-sum-c78] {
  background: no-repeat center center;
  background-size: contain;
  background-image: url("<?php echo $USWDS_ASSETS ?>/img/microsoft-logo.svg");
  display: block;
  margin-right: 0.4rem;
  height: 3rem;
  width: 3rem;
}
.custom-icam-button--icon[data-image="piv"][_ngcontent-sum-c78] {
  background-image: url("<?php echo $USWDS_ASSETS ?>/img/microsoft-logo.svg");
}
.custom-icam-button--icon[data-image="mobileLinc"][_ngcontent-sum-c78] {
  background-image: url("<?php echo $USWDS_ASSETS ?>/img/microsoft-logo.svg");
}
.custom-icam-button--icon[data-image="azure"][_ngcontent-sum-c78] {
  background-image: url("<?php echo $USWDS_ASSETS ?>/img/microsoft-logo.svg");
}
.custom-icam-button--icon[data-image="okta"][_ngcontent-sum-c78] {
  background-image: url("<?php echo $USWDS_ASSETS ?>/img/microsoft-logo.svg");
}
.custom-icam-button--icon[data-image="loginGov"][_ngcontent-sum-c78] {
  background-image: url("<?php echo $USWDS_ASSETS ?>/img/microsoft-logo.svg");
}
.custom-icam-button--icon[data-image="userPassword"][_ngcontent-sum-c78] {
  background-image: url("<?php echo $USWDS_ASSETS ?>/img/microsoft-logo.svg");
}
.custom-icam-button--meta[_ngcontent-sum-c78] {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}
