/* Variables
   ========================================================================== */
:root {
  --header-bg-image: url("../../images/layout/tropical_wallpaper.jpg");
  --header-bg-color: #66918e70; /** Transparent color if adding header bg-image **/
  --header-font-color: #fff;
  --brand-font-size: 1.5rem;
  --title-font-family: "Averia Serif Libre", serif;
  --logo-width: 120px;
  --menu-top-bg-color: #698d48;
  --menu-font-size: 1rem;
  --body-bg-color: #fafafa;
  --body-text-color: #000000;
  --body-font-size: 1rem;
  --body-font-family: "Arial", sans-serif;
  --footer-bg-color: #f2f0e9;
  --heading-font-family: "Roboto", sans-serif;
  --link-color: #66918e;
  --darkest-color: #1c3c16;
  --medium-color: #314E4B;
  --light-color: #9AB646;
  --bright-color: #b9d432;
  --danger-color: #b31b1b;
  --max-innertext-width: 1024px;
}
