/* Variables
   ========================================================================== */
:root {
  --header-bg-image: "");
  --header-bg-color: #3e3b40; /** Transparent color if adding header bg-image **/
  --header-font-color: #fff;
  --brand-font-size: 2.5rem;
  --title-font-family: "Times New Roman", serif;
  --logo-width: 180px;
  --menu-top-bg-color: #8C93A8;
  --menu-font-size: 1rem;
  --body-bg-color: #fafafa;
  --body-text-color: #000000;
  --body-font-size: 1rem;
  --body-font-family: "Arial", sans-serif;
  --footer-bg-color: #f2f0e9;
  --heading-font-family: "Arial", sans-serif;
  --link-color: #C46330;
  --darkest-color: #3e3b40;
  --medium-color: #8C93A8;
  --light-color: #f2f0e9;
  --bright-color: #f8db6a;
  --danger-color: #b31b1b;
  --max-innertext-width: 1024px;
}
